[Unit]
Description=Marcador server
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/bin/bash -c "PATH=$PATH:~/bin:~/.local/bin exec marcador_server"
[Install]
WantedBy=multi-user.target%  
