[Unit]
Description=Marcador server
[Service]
ExecStart=/bin/bash -c "PATH=$PATH:~/bin:~/.local/bin exec marcador_server /home/joaj/marcador.db"
[Install]
WantedBy=multi-user.target%  
