[Unit]
Description=marcador service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=marcador server

[Install]
WantedBy=multi-user.target
